[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
django-stubs = "~=5.1"
ipdb = "*"

[requires]
python_version = "3.12"
